body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("bg.png");
    text-align: center;
}

nav {
    color: green;
    background: black;
    width: 250px;
    border: 4px solid black;
    border-radius: 5px;
    margin: 5px 5px 20px 5px;
    position: fixed;
    top: 10px;
    right: 20px;
}

.navigation {
    text-decoration: none;
    color: white;
}

.navigation:hover {
    color: yellow;
    text-shadow: 1px 1px 25px black;
}

#überschrift {
    color: white;
    background: darkgreen;
    width: 99%;
    height: 100px;
    font-size: 80px;
    border: 2px;
    border-radius: 20px;
    font-weight: 300;
    margin: 5px 5px 10px 5px;
}

ul {
    list-style: none;
}

main {
    text-align: center;
    align-items: center;
    max-width: 800px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.Textblock {
    width: 100%;
    background: white;
    border: 5px solid white;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

h3 {
    font-size: 40px;
    font-weight: large;
    color: darkgreen;
}

h5 {
    font-size: 30px;
    color: darkslategray;
}

#gif {
    margin-top: 10px;
}

#anheben {
    color: darkred;
    font-size: larger;
}

.bild {
    margin-top: 5px;
    margin-bottom: 5px;
}

ol {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.li {
    display: inline;
    list-style: none;
    margin-right: 10px;
    padding: 5px 10px;
    background: yellowgreen;
}

.Markierung {
    text-decoration: none;
    color: black;
}

.Markierung:hover {
    text-shadow: 1px 1px 10px grey;
}

ul {
    margin-top: 50px;
}

li {
    list-style: none;
    margin-top: 10px;
    padding: 5px 10px;
    background: yellowgreen;
    font-weight: bolder;
}

footer {
    background: darkgreen;
    width: 99%;
    height: 100px;
    border: 2px;
    border-radius: 20px;
    margin: 20px, 5px, 5px, 5px;
}

.bildlink:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

#eingabebox {
    text-align: left;
}

.eingabe {
    height: 25px;
    width: 300px;
    border-left: 3px solid lightgrey;
    padding: 10px 10px 10px 10px lightgrey;
    margin: 4px;
    background-color: lightgrey;
    color: white;
    font-weight: bolder;
}

#button {
    background-color: lightgrey;
    height: 30px;
    width: 80px;
    padding: 10px 10px 10px 10px lightgrey;
    color: white;
    margin-bottom: 30px;
}

#eingabefeld {
    height: 50px;
    width: 500px;
    border-left: 3px solid lightgrey;
    padding: 10px 10px 10px 10px lightgrey;
    margin: 4px;
    background-color: lightgrey;
    color: white;
    font-weight: bolder;
}

::placeholder {
    color: white;
    opacity: 1;
    font-weight: bolder;
}

::-ms-input-placeholder {
    color: white;
}

.footerlink {
    margin-right: 5px;
    margin-left: 5px;
}

#datenschutz {
    color: gray;
    font-size: 10px;
}